# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp files
*.tmp
*.gz

# large files and transition folder
/vista/
*.sql
*.db
*.tar
MIGRATION-BACKEND.md
eng-wp-cv.pdf
Use of Machine Learning Classification Models, both Image and Text, in the Network Graphing. Case Study_ Community of Practice Among Graffiti Writers on Freight Trains (1) (1).pdf
Mining, Shaping, Visualizing, and Interpreting Instagram Hipertextual Networks of Freight Train Graffiti Communalities in North America Using Machine Learning Custom Models and Graphology.docx/MiningShapingVisualizingandInterpretingInstag.html
Mining, Shaping, Visualizing, and Interpreting Instagram Hipertextual Networks of Freight Train Graffiti Communalities in North America Using Machine Learning Custom Models and Graphology.docx.zip
.gitignore
urbancreativity,+Angel_UXUC_Vol5_N2_68-87.pdf
